import(DBI)

export(translate)
export(pickRefSeq)
export(pickRefSeq.Protein)
export(pickRefSeq.mRNA)
export(mapLists)
export(removeNAs)
export(pickGO)
export(getEvidenceCodes)
export(getOrthologs)
